<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <section class="About">
        <div class="container">
        <h1>Contact</h1>
        


        <button (click)="callApi()" class="btn">callApi</button>

<section>
<table border="1">
  <tr *ngFor="let d of alldata|async"><td>{{d.City}}</td><td>{{d.State}}</td></tr>
</table>

</section>

<button (click)="callEmployee()" class="btn">callEmployee</button>

<section>
  <table border="1">
    <tr *ngFor="let d of alldata1|async"><td>{{d.id}}</td><td>{{d.employee_name}}</td><td>{{d.employee_salary}}</td></tr>
  </table>
  
  </section>
  


        </div>
      </section>
    </div>
  </div>




  <router-outlet></router-outlet>
</body>
</html>

